
            <div class="icon-text-container">
                <div class="search" *ngIf="isAuthenticated">
                    <form action="#">
                        <input type="text"
                               placeholder=" Search tweets"
                               name="search">

                    </form>
                </div>
                <div class="material-symbols-outlined" *ngIf="isAuthenticated" (click)="toggleMenu()" >account_circle
                      <!-- Dodajte vaše stavke menija ovde -->
                      
                </div>
                <button  (click)="logOut()"  *ngIf="isAuthenticated"><a >Logout</a></button>
            </div>
<div style="display: flex;flex-direction: row;" *ngIf="isAuthenticated">
<mat-toolbar color="secondary">
	<mat-nav-list class="list-horizontal">
     <mat-list-item>
      <button mat-menu-item>Profile</button>
    </mat-list-item>

	  <mat-list-item>
      <button mat-menu-item [matMenuTriggerFor]="billsmenu">Home</button>
    </mat-list-item>
    <mat-menu #billsmenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        
      </button>
    </mat-menu>

    <mat-list-item>
      <button mat-menu-item [matMenuTriggerFor]="claimsmenu">Notification</button>
    </mat-list-item>
    <mat-menu #claimsmenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
      </button>
    </mat-menu>

    <mat-list-item>
      <button mat-menu-item >Bookmarks</button>
    </mat-list-item>

    <mat-list-item>
      <button mat-menu-item  >Tweets</button>
    </mat-list-item>

  </mat-nav-list>
</mat-toolbar>
<div class="basic-container">
    <router-outlet></router-outlet>
</div>
</div>
