.tweet-cards-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .tweet-card {
    border: 1px solid #ddd; 
    margin: 20px;
    padding: 10px; 
    width: 400px;
  }
  .content{
    font-family: monospace;
    font-size: 25px;
  }
  .create-tweet-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 400;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .popup-content textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .popup-content button {
    margin-right: 10px;
  }
  .button-create{
    width: 70px;
    height: 70px;
    background-color: royalblue;
    font-family: monospace;
    margin: 10px;
  }